@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<script type="text/javascript">
        sqlQueryModule.factory('bootstrappedData', function () {
            return { list: @Html.Raw(Model) }
    });

</script>

<div ng-controller="homePageController">
    <div class="card horizontal">
        <div class="card-stacked">
            <h3 style="position:absolute; margin-left: 14em; margin-top: 0em;
                        margin-bottom:4em;padding-top: 0.4em;">
                Home
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col s4 m2"></div>
        <div class="col s8 m5" style="margin-top: 5em;">
            <div class="input-field">
                <input id="search" ng-model="search">
                <a ng-click="searchList()" class="btn btn-large waves-effect waves-light light-blue">
                    <i class="material-icons">search</i> Search
                </a>
            </div>
        </div>
        <div class="col s2 m1"></div>
        <div class="col s4 m2" style="margin-top: 5em;">
            <a ng-click="redirect('add')" class="btn btn-large waves-effect waves-light green">
                <i class="material-icons">add</i> Add Patient
            </a>
        </div>
        <div class="col s4 m2"></div>
    </div>

    <div class="row">
        <div class="col s2 m1"></div>
        <div class="col s12 m10">
            <div class="card">
                <div class="card-content ">
                    <span class="card-title">List of Patients:</span>
                    <!--Data Table-->
                    <div class="displayTable">
                        <table id="queryTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Photo</th>
                                    <th>Patient Information</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in filteredList">
                                    <td style="width:15%;"><img src="../images/default.PNG" ng-click="redirect('show', item['PID'])" style="height: 8em;"></td>
                                    <td>
                                        <p>Name: {{item['Name']}}</p>
                                        <p>DOB: {{item['DOB']}}</p>
                                        <p>Last Visit: {{item['LV']}}</p>
                                    </td>
                                    <td style="width: 20%;">
                                        <button class="btn-floating btn-large waves-effect waves-light purple" ng-click="redirect('compare', item['PID'])">
                                            <i class="material-icons">insert_chart</i>
                                        </button>
                                        <button class="btn-floating btn-large waves-effect waves-light light-blue" ng-click="redirect('edit', item['PID'])">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button class="btn-floating btn-large waves-effect waves-light orange" ng-click="redirect('delete', item['PID'])">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Photo</th>
                                    <th>Patient Information</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                        <ul uib-pagination ng-model="currentPage"
                            total-items="list.length"
                            max-size="maxSize"
                            boundary-links="true"></ul>
                    </div>
            </div>
        </div>
        <div class="col s4 m1"></div>
    </div>


    
    </div>
</div>